{% extends 'base.html' %}
{% set active_page = "index" %}

{% block header %}
  <h1 class="display-3">{% block title %}PhishHack{% endblock %}</h1>
{% endblock %}

{% block content %}
    <p class="text-center mt-5 display-4">Enter URL or domain</p>

    <div class=" container ">
        <form method="get">
            <div class="row justify-content-center mt-5">
              <div class="col-8">
                <label class="sr-only" for="inlineFormInput">Name</label>
                <input type="text" class="form-control mb-2" id="inlineFormInput" placeholder="example.com" name="link">
              </div>
              
              <div class="col-2">
                <button type="submit" class="btn btn-primary mb-2">Submit</button>
              </div>
            </div>
          </form>
    </div>

{% if report %}

<p>{{ report }}</p>
<div class="container">
    <h5 class="alert alert-dark">Find verification tags: {{ report['report']['verifications_tags_count'] }}</h5>
    
    <h5 class="alert alert-dark">Find spf tag: 
      {% if report['report']['spf_tags'] %}
      Yes
      {% else %}
      No
      {% endif %}
    </h5>
    
    
    <h5 class="alert alert-dark">Top 10 google search:
      {% if report['report']['top_google_search'] %}
      Yes
      {% else %}
      No
      {% endif %}
    </h5>
    
    <h5 class="alert alert-dark">Contain inputs or forms:
      {% if report['report']['page_contain_inputs'] %}
      Yes
      {% else %}
      No
      {% endif %}
    </h5>

    <h5 class="alert alert-dark">Site use TLS:
      {% if report['report']['use_tls'] %}
      Yes
      {% else %}
      No
      {% endif %}
    </h5>

    <h5 class="alert alert-dark">In phishing base:
      {% if report['report']['in_phish_base'] %}
      Yes
      {% else %}
      No
      {% endif %}
    </h5>

    <h5 class="alert alert-dark">Title:
      {% if report['report']['title_in_google'] %}
      Yes
      {% else %}
      No
      {% endif %}
    </h5>

    
</div>

<div class="container">
  <h4 class="alert alert-info">Points:
    {{ (points*100) | int }}/100
  </h4>
  <h4 class="alert alert-info">Status:
     {% if points >= 0.60 %} Clean {% endif %}{% if points > 0.25 and points < 0.60%} Suspect {% endif %}{% if points <= 0.25 %} Phishing {% endif %}
  </h4>
</div>

{% endif %}

{% endblock %}
