{% extends 'base.html' %}
{% set active_page = "index" %}

{% block header %}
  <h1 class="display-3">{% block title %}PhishHack{% endblock %}</h1>
{% endblock %}

{% block content %}
    <h3 class="text-center mt-5 ">Enter URL or domain</h3>

    <div class=" container ">
        <form method="get">
            <div class="row justify-content-center mt-5">
              <div class="col-8">
                <label class="sr-only" for="inlineFormInput">Name</label>
                <input type="text" class="form-control mb-2" id="inlineFormInput" placeholder="example.com" name="link">
              </div>
              
              <div class="col-1">
                <button type="submit" class="btn btn-primary mb-2">Submit</button>
              </div>
            </div>
          </form>
    </div>

{% if report %}

<div class="container">
    {% if report['report']['verifications_tags_count'] > 1 %}
    <h5 class="alert alert-success">
      Find verification tags: {{ report['report']['verifications_tags_count'] }}
    </h5>
    {% else %}
    <h5 class="alert alert-warning">
      Find verification tags: {{ report['report']['verifications_tags_count'] }}
    </h5>
    {% endif %}


    
      {% if report['report']['spf_tags'] %}
      <h5 class="alert alert-success">Find spf tag: Yes
      {% else %}
      <h5 class="alert alert-warning">Find spf tag: No
      {% endif %}
    </h5>
    
    
    
      {% if report['report']['top_google_search'] %}
      <h5 class="alert alert-success">Top 10 google search: Yes
      {% else %}
      <h5 class="alert alert-warning">Top 10 google search: No
      {% endif %}
    </h5>
    
    
      {% if not report['report']['page_contain_inputs'] %}
      <h5 class="alert alert-success">Contain inputs or forms: No
      {% else %}
      <h5 class="alert alert-warning">Contain inputs or forms: Yes
      {% endif %}
    </h5>

    
      {% if report['report']['use_tls'] %}
      <h5 class="alert alert-success">Site use TLS: Yes
      {% else %}
      <h5 class="alert alert-warning">Site use TLS: No
      {% endif %}
    </h5>

    
      {% if not report['report']['in_phish_base'] %}
      <h5 class="alert alert-success">In phishing base: No
      {% else %}
      <h5 class="alert alert-warning">In phishing base: Yes
      {% endif %}
    </h5>

    
      {% if report['report']['title_in_google'] %}
      <h5 class="alert alert-success">Title: Yes
      {% else %}
      <h5 class="alert alert-warning">Title: No
      {% endif %}
    </h5>

    
      {% if not report['report']['base64_detect'] %}
      <h5 class="alert alert-success">Encoded images: No
      {% else %}
      <h5 class="alert alert-warning">Encoded images: Yes
      {% endif %}
    </h5>   
</div>

<div class="container">
  <h4 class="text-center">Verdict</h4>
</div>

<div class="container">
  <h4 class="alert alert-info">Points:
    {{ (points*100) | int }}/100
  </h4>
     {% if points >= 0.60 %} 
     <h4 class="alert alert-success">
       Status: Clean 
      </h4>
       {% endif %}
       {% if points > 0.25 and points < 0.60%}
       <h4 class="alert alert-warning">
        Status: Suspect 
       </h4>
       {% endif %}
       {% if points <= 0.25 %}
       <h4 class="alert alert-danger">
        Status: Phishing 
       </h4>
       {% endif %}
</div>

{% endif %}

{% endblock %}
